.example-box {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 35vh;
  padding: 10px 24px 0px;
  box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.3); /* added color with opacity */
  border-radius: 10px;
  flex: 1 1 250px;
  max-width: 300px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  flex-shrink: 0;
}

.example-box h4 {
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 10px;
}
.icon-example img {
  width: 250px;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}
.icon-example {
  width: 100%;
  padding: 5px 0px;
  border-radius: 10px;
  overflow: hidden;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-example img:hover {
  transform: scale(1.1);
}
.example-box p {
  color: oklch(0.446 0.03 256.802);
  font-size: 13px;
  font-weight: 400;
}
.price {
  display: flex;
  width: 100%;

  justify-content: flex-end;
}
.colorprice {
  color: #425475;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji";
  font-weight: 500;
  font-size: 18px;
  border-bottom-left-radius: 15px;
  background-color: #bed6fb;
  padding: 10px;
}
button {
  background-color: oklch(54.742% 0.24331 262.725 / 0.812);
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}
button:hover {
  background-color: oklch(49.667% 0.19226 261.518);
  cursor: pointer;
}
@media (max-width: 768px) {
  .example-box {
    margin: 0px;
    max-width: 215px;
  }
  .icon-example img {
    width: 250px;
  }
}
