.header {
  background-color: rgb(255, 255, 255);
  height: 10vh;
  margin: 0;
  width: 100%;
  box-shadow: 0px 0px 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: solid gray 1px;
}
.header img {
  width: 100px;
}
.landings {
  gap: 32px;
  display: flex;
}
.landings #btn {
  color: rgb(67, 67, 67);
  text-decoration: none;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji";
  font-weight: 500;
  background-color: transparent;
}
.landings #btn:focus {
  border-bottom: solid black 1.5px;
  border-radius: 0px;
}
.landings #btn:hover {
  color: oklch(0.546 0.245 262.881);
}
.header button {
  background-color: black;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji";
  color: white;
  font-weight: 500;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .landings {
    display: none;
  }
}
