.hero {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 90vh;
  overflow-y: scroll;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
