.recent {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.recent-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
  width: 100%;
  height: auto;
  padding: 5px 0px;
}

.recent-container::-webkit-scrollbar {
  display: none;
}

.recent-card {
  min-width: 260px;
  height: 160px;
  background: #f2f2f2;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  flex-shrink: 0;
}

.scroll-btn {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
  background: #434343;
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.scroll-btn:hover {
  transform: scale(1.1);
}
.text-recent {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji";
  font-weight: 100;
  font-size: 25px;
  background-color: rgb(255, 255, 255);
  width: 80%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  gap: 20px;
}

.text-recent p {
  color: oklch(0.446 0.03 256.802);
  font-size: 18px;
  font-weight: 400;
}
