.team-container {
  width: 80%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji";
  font-weight: 100;
  font-size: 23px;
  margin-bottom: 20px;
}

.team-members {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 768px) {
  .team-container {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .team-container h2 {
    font-size: 30px;
  }
  .team-members {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
